/* 共通部分 ------------------------------------------ */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: #fcebef;
}
main {
  /* 変更 */
  min-height: calc(100vh - 188px);
  position: relative; // 相対位置
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #432;
}
.wrapper{
    min-height: 100vh;
    position: relative; // 相対位置
    padding-top: 80px;
    box-sizing: border-box; // 全て含めてmin -height : 100 vh
}

/* -------------------------------------------------------------- */

/* ヘッダ部分 ---------------------------------------------------- */

.header_menu {
  height: 50px;
  display: flex;
  margin-right: 43px;
  margin-top: 15px;
}
.shopping_cart {
  height: 35px;
  display: flex;
  margin: 0 25px auto 0;
}
.shopping_cart a {
  box-sizing: border-box;
  display: flex;
}
.shopping_cart_first {
  text-align: center;
  margin-right: 7px;
}
.shopping_cart_icon {
  height: 41px;
  margin: 0 auto;
  margin-right: 2px;
}
.shopping_cart_number {
  min-width: 25px;
  margin-top: 0px;
  margin-left: -23px;
}
.shopping_cart_amount {
  text-align: center;
  padding: 1px 4px;
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  background-color: #e60012;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 18px;
}
.notification_button {
  height: 35px;
  margin: 0 25px auto 0;
  text-align: center;
}
.notification_button a {
  box-sizing: border-box;
}
.notification_top {
  display: flex;
}
.notification_icon {
  height: 41px;
  margin: auto;
  margin-right: 2px;
}
.notification_number {
  min-width: 25px;
  margin-top: 5px;
  margin-left: -23px;
}
.notification_amount {
  text-align: center;
  padding: 1px 4px;
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  background-color: #e60012;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 18px;
}
.for_my_account {
  height: 45px;
  display: flex;
  text-align: center;
  margin: 0 auto auto auto;
}
.for_my_account_ul {
  z-index: 1000;
  width: 175px;
  position: absolute;
  top: 67px;
  right: 40px;
  background-color: #fcf7f7;
  text-align: left;
  border-radius: 5px;
  border: solid 1px #432;
  box-shadow: 0 0 8px #ccc;
}
.for_my_account ul li {
  padding: 5px 10px;
  margin: 0;
  border-left: solid 3px #432;
}
.for_my_account ul li:not(:last-child) {
  border-bottom: solid 1px #432;
}
.for_my_account ul li a {
  color: #432;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.for_my_account ul li:hover {
  background-color: #f9d6e2;
}
.account_img {
  height: 45px;
  width: 45px;
  margin: auto;
}
.account_img a {
  box-sizing: border-box;
  margin: auto;
}
.account_img a img {
  box-sizing: border-box;
}
.profile_img {
  height: 35px;
  width: 35px;
  margin: auto;
  margin-right: 2px;
  padding: 3px;
  border-radius: 50%;
  /* change */
  border: double 2px #2bb7b3;
}
.profile_img:hover {
  /* change */
  border-color: #b82a76;
}
header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  z-index: 9999;
}
h1 {
  height: 55px;
  margin-top: 8px;
  margin-left: 40px;
  font-size: 26px;
}
h1 p {
  font-family: "Noto Sans JP";
  color: #432;
}
.h1_sub {
  font-size: 15px;
}
.main_title {
  line-height: 20px;
}
.main_title2 {
  line-height: 34px;
}
.page_header {
  border-bottom-style: solid;
  border-color: #2bb7b3;
  border-bottom-width: 3px;
}

/* ------------------------------------------------------------- */

/* メイン部分 --------------------------------------------------- */
/* id="item_resist_box_01" -------------------------------------- */

.item_resist_box {
  width: 100%;
  height: auto;
}
.item_resist_box_01_all {
  width: 100%;
  height: auto;
}
.item_resist_box_01 {
  width: 85%;
  /* 変更 */
  margin: 108px auto 60px auto;
  /* margin: 0 auto 60px auto; */
  border-radius: 20px;
  border: solid 2px #bbb;
  box-shadow: 0 0 8px #ddd;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1000;
}
.resist_info_01 {
  width: 80%;
  height: auto;
  margin: auto;
}
.main_resist_title {
  width: auto;
  color: #432;
  text-align: center;
  margin: 50px auto 15px;
  padding: 0 20px 0;
  font-size: 36px;
  font-family: 'Caveat', cursive;
  border-bottom: solid 3px #432;
}
.resist_all_01 {
  display: flex;
}
.resist_left_div {
  width: 29%;
  height: auto;
  margin-right: 1%;
  display: block;
}
/* additional */
.for_preview_image_01 {
  display: flex;
  width: 80%;
  height: calc(80vw * 0.1856);
  margin: 10px auto;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  box-sizing: border-box;
  border-radius: 3px;
  border: solid 1px #ddd;
}
/* additional */
.for_preview_image_01 img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.input_file {
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;
}
.file_upload {
  display: block;
  float: center;
  width: 75%;
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #2bb7b3;
}
.file_upload:hover {
  cursor: pointer;
}
.file_upload p {
  font-family: 'Segoe UI';
  width: 100%;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
}
.img_file_upload {
  display: none;
}
.resist_right_div {
  width: 69%;
  height: auto;
  margin-left: 1%;
}
.named_ID {
  width: auto;
  font-size: 15px;
  font-family: "Noto Sans JP", 'Segoe UI';
}
.named_ID_image {
  font-size: 18px;
  margin-top: 13px;
}
.named_ID_noncaution {
  margin-top: 10px;
}
.required_mark {
  font-size: 20px;
  color: #c03619;
}
input {
  border: none;
  outline: none;
  color: #432;
  margin: 0 auto;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.full_space_form {
  width: calc(100vw - 875px);
}
/* additional */
.FormOfms {
  width: 100%;
  height: 28px;
  margin: 0;
  padding-left: 10px;
  border: 1px solid #432; /* #b82a76 */
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 100%;
  box-shadow: 3px 3px 8px #eee inset;
  box-sizing: border-box;
  font-family: "Noto Sans JP";
}
/* additional */
.caution_message {
  font-size: 12px;
  line-height: 14px;
  min-height: 16px;
  color: #e60012;
}
.number_with {
  display: flex;
  height: 28px;
}
.number_with p {
  min-width: 28px;
  height: 28px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-family: "Noto Sans JP";
}
.FormOfms_num {
  width: 20%;
}
.FormOfms:focus {
  border: 2px solid #b82a76;
}
.grade_selection {
  width: 200px;
  /* additional */
  margin-left: 10px;
  padding: 5px 0;
  border: none;
  /* additional */
  border-bottom: solid 2px #2bb7b3;
  font-size: 14px;
  /* additional */
  outline: none;
  font-family: "Noto Sans JP";
}
.grade_selection option {
  font-size: 14px;
  margin: 10px 0;
  /* additional */
  color: #432;
  margin: 2px 0;
}
.List_selection {
  width: 240px;
  margin-left: 10px;
  padding: 5px 0;
  border: none;
  font-size: 14px;
  /* additional */
  outline: none;
  border-bottom: solid 2px #b82a76;
  font-family: "Noto Sans JP";
}
/* additional */
.List_selection option {
  font-size: 14px;
  margin: 10px 0;
  color: #432;
  margin: 2px 0;
}
.form_area {
  width: auto;
  height: auto;
  /* additional */
  padding-left: 10px;
  min-height: 44px;
  display: flex;
  flex-wrap: wrap;
}
.tag_per {
  display: flex;
  margin: 5px 0;
}
.form_area_first {
  width: 34px;
  height: 34px;
  background-color: #2bb7b3;
  margin-right: 0px;
  border-radius: 34px 0 0 34px;
}
.form_area_first p {
  text-align: center;
  color: #fff;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
}
.submit_tag {
  width: 180px;
  color: #fff;
  margin: 0;
  padding: 2px 0 2px 5px;
  display: inline-block;
  line-height: 30px;
  background-color: #2bb7b3;
  vertical-align: middle;
  /* 追加 */
  font-size: 16px;
  box-shadow: 2px 2px #eee;
}
/* additional */
.submit_tag::placeholder {
  color: #ddd;
  font-family: "Noto Sans JP";
}
/* additional */
.submit_tag:-ms-input-placeholder {
  color: #ddd;
  font-family: "Noto Sans JP";
}
/* additional */
.submit_tag::-ms-input-placeholder {
  color: #ddd;
  font-family: "Noto Sans JP";
}
/* additional */
.delete_tag_form {
  background-color: #fff;
  width: 34px;
  height: 34px;
  margin: 0 2px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.delete_tag_form p {
  text-align: center;
  color: #c03619;
  line-height: 34px;
  font-size: 34px;
  font-family: 'Segoe UI';
}
/* additional */
.additional_tag_button {
  width: 100px;
  height: 34px;
  margin-top: 5px;
  /* additional */
  margin-left: 10px;
  border: none;
  background-color: #b82a76;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
/* additional */
.additional_tag_button p {
  color: #fff;
  line-height: 34px;
  font-size: 16px;
  font-family: 'Segoe UI';
}
/* additional */
.detail_box {
  resize: none;
  width: 100%;
  height: 110px;
  padding: 5px 10px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Noto Sans JP";
  outline: none;
  border: solid 2px #432;
  border-radius: 7px;
}
.final_resister {
  margin: 40px auto;
  text-align: center;
}
.button_item_submit {
  border: none;
  outline: none;
  background-color: #0068b7;
  border-radius: 5px;
  /* box-shadow: 2px 2px #3c7d9b; */
  box-shadow: 2px 2px #5188b1;
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 24px;
  padding: 10px 25px;
  cursor: pointer;
}

/* id="item_resist_box_02" --------------------------------------*/

.item_resist_box_02_all {
  width: 100%;
  height: auto;
  display: none;
}
.item_resist_box_02 {
  width: 85%;
  /* 変更 */
  /* margin: 108px auto 60px auto; */
  margin: 108px auto 60px auto;
  border-radius: 20px;
  border: solid 2px #bbb;
  box-shadow: 0 0 8px #ddd;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 5000;
  /* position: absolute; */
  /* display: none; */
}
.resist_info_02 {
  width: 80%;
  height: auto;
  margin: auto;
}
.main_resist_title_02 {
  width: 80%;
  color: #432;
  text-align: center;
  margin: 50px auto 15px;
  padding: 0 20px 0;
  font-size: 36px;
  /* font-family: 'Caveat', cursive; */
  /* font-family: "Noto Sans JP"; */
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  font-weight: bolder;
  border-bottom: solid 3px #432;
}
.resist_all_02 {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 60px;
  display: flex;
}
.resist_left_div {
  width: 44%;
  height: auto;
  margin-right: 1%;
  display: block;
}
.for_preview_image_02 {
  display: flex;
  width: 90%;
  height: calc(80vw * 0.1856);
  margin: 10px 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  box-sizing: border-box;
}
.for_preview_image_02 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  margin-top: 0;
}
.resist_right_div {
  width: 54%;
  height: auto;
  padding-left: 1%;
  /* border-left: solid 1px #ddd; */
}
.resist_right_div p {
  font-family: "Noto Sans JP";
}
.item_name {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  font-family: "Noto Sans JP",'Segoe UI';
}
.name_price {
  border-bottom: solid 1px #ddd;
}
.price_of_items {
  padding-left: 10px;
  font-size: 36px;
  font-family: "Arial";
  font-weight: 600;
  margin: 10px 0 0;
  padding-bottom: 20px;
}
.amount_cart {
  display: flex;
  border-bottom: solid 1px #ddd;
}
.amount_cart_first {
  width: 100px;
  padding: 20px 0;
  box-sizing: border-box;
}
.amount_of_items_title {
  text-align: center;
  font-size: 14px;
}
.amount_of_items {
  text-align: center;
  font-size: 22px;
}
.info_title {
  margin: 30px 0 10px;
  font-size: 16px;
  font-family: 'Segoe UI';
}
.machanic_info {
  padding: 0 0 15px 10px;
  border-bottom: solid 1px #ddd;
}
.machanic_info p {
  font-size: 14px;
  font-family: "Noto Sans JP",'Segoe UI';
}
.division_menu_tag {
  padding: 20px 0;
  border-bottom: solid 1px #ddd;
}
.grade_division_menu {
  padding-bottom: 14px;
}
.concern_tag_title {
  font-size: 18px;
  margin-bottom: 15px;
}
.form_area {
  width: auto;
  height: auto;
  /* additional */
  padding-left: 10px;
  min-height: 44px;
  display: flex;
  flex-wrap: wrap;
}
.tag_per {
  display: flex;
  margin: 5px 0;
}
.form_area_first {
  width: 34px;
  height: 34px;
  background-color: #2bb7b3;
  margin-right: 0px;
  border-radius: 34px 0 0 34px;
}
.form_area_first p {
  text-align: center;
  color: #fff;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
}
.submit_tag {
  width: auto;
  height: 34px;
  color: #fff;
  margin-right: 10px;
  padding: 2px 20px 2px 5px;
  display: inline-block;
  line-height: 30px;
  background-color: #2bb7b3;
  vertical-align: middle;
  /* 追加 */
  font-size: 16px;
  box-shadow: 2px 2px #eee;
  box-sizing: border-box;
  border-radius: 0 34px 34px 0;
}
.item_discription {
  padding: 14px 0;
}
.detail_of_items {
  margin-left: 10px;
  font-size: 14px;
}
.final_resister_02 {
  display: flex;
  margin: 60px auto 40px;
  text-align: center;
}
.button_item_submit_01 {
  border: none;
  outline: none;
  background-color: #f08437;
  border-radius: 5px;
  box-shadow: 2px 2px #da6a38;
  color: #fff;
  font-size: 24px;
  margin: 0 100px 0 auto;
  padding: 10px 25px;
  font-family: "Noto Sans JP";
  cursor: pointer;
}
.button_item_submit_02 {
  border: none;
  outline: none;
  background-color: #0068b7;
  border-radius: 5px;
  box-shadow: 2px 2px #5188b1;
  color: #fff;
  font-size: 24px;
  margin: 0 auto 0 100px;
  padding: 10px 40px;
  font-family: "Noto Sans JP";
  cursor: pointer;
}

/* フッター部分 ------------------------------------------------ */

.footer{
  width: 100%;
  background-color: #2bb7b3;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: absolute; // 相対位置
  bottom: 0; // 下に固定
  z-index: 9999;
}
